<?xml version="1.0" encoding="utf-8"?>
<manifest package="ankita.myapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".layoutPractice.PracticeLinearLauoyt">
        </activity>
        <activity android:name=".launcherActivity.PracticeList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".layoutPractice.PractiveRelativeLayout">
        </activity>
        <activity android:name=".layoutPractice.PractiveFrameLayout">
        </activity>
        <activity
            android:name=".uiControlPractice.PracticeUiControls"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".customList.PracticeCustomListView">
        </activity>
        <activity android:name=".gridViewPractice.PracticeGridView">
        </activity>
    </application>

</manifest>
