<?xml version="1.0" encoding="utf-8"?>
<manifest package="ankita.myapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC5jAAlBBd8ilTK2L0u4OAE9K1FIRY3rfA" />

        <activity android:name=".launcherActivity.PracticeList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".layoutPractice.PracticeLinearLauoyt"
            android:label="Calculater"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
        </activity>
        <activity android:name=".layoutPractice.PractiveRelativeLayout">
        </activity>
        <activity android:name=".layoutPractice.PractiveFrameLayout">
        </activity>
        <activity
            android:name=".uiControlPractice.PracticeUiControls"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".customList.PracticeCustomListView">
        </activity>
        <activity android:name=".gridViewPractice.PracticeGridView">
        </activity>
        <activity android:name=".expandableListViewPractive.PracticeExpandableList">
        </activity>
        <activity android:name=".CustomStylePractice.PracticeCustomStyle">
        </activity>
        <activity
            android:name=".UiTask1Practice.PracticeUiTask1"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity android:name=".ServicesPractice.PracticeServices">
        </activity>

        <service android:name=".ServicesPractice.MyService">
        </service>
        <service
            android:name=".ServicesPractice.MyIntentService"
            android:exported="false">
        </service>

        <activity android:name=".BroadcastRecieverPratice.PractiveBroadcastReciever">
        </activity>

        <!-- <receiver android:name=".BroadcastRecieverPratice.CustomBroadCastReciver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="CUSTOM_INTENT"></action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".IntentPractice.PracticeImplicitIntent">
        </activity>
        <activity android:name=".IntentApplicationPractice.PracitceIntentApplication"/>

        <provider
            android:name=".IntentApplicationPractice.MyContentProvider"
            android:authorities="someAuthority"/>

        <activity android:name=".sqlLiteDatabasePractice.PracticeSqllite">
        </activity>

        <!-- android:configChanges is needed to stop the app from crashing on orientation change -->
        <activity android:name=".fragmentPractice.PracticeFragment">
        </activity>

        <uses-feature android:name="android.hardware.camera2"/>

        <activity android:name=".sharedPreferencePrectice.PrecticeSharedPreference">
        </activity>
        <activity android:name=".AsyncTask.PracticeAsyncTask">
        </activity>
        <activity android:name=".drawablesPractice.PracticeDrawables">
        </activity>
        <activity android:name=".UiTask2Practice.PracticeUiTask2">
        </activity>
        <activity android:name=".ConnectivityManagerPractice.PracticeConnectivityManager">
        </activity>
        <activity android:name=".ConnectivityManagerPractice.MySettings">
        </activity>
        <activity android:name=".tabsPractice.PracticeTabs">
        </activity>
        <activity android:name=".TabsUsingCustomPager.PracticeTabsUsingCustomPager">
        </activity>
        <activity android:name=".navigationDrawerPractice.PracticeNavigationDrawer">
        </activity>
        <activity android:name=".FlowingDrawer.PracticeFlowingDrawer">
        </activity>
        <activity
            android:name=".ToolBarPractice.PracticeToolbar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".locationHandeling.PracticeLocationHandeling">
        </activity>
    </application>

</manifest>
